@use '@angular/material' as mat;
@use "./_theme-colors" as cmz-theme;

// App-wide font family (used by Material typography and applied globally)
$app-font-family: 'Roboto, "Helvetica Neue", sans-serif';

$light-theme: mat.define-theme(
  (
    color: (
      primary: cmz-theme.$primary-palette,
      tertiary: cmz-theme.$tertiary-palette,
      theme-type: light,
    ),
    typography: (
      plain-family: $app-font-family,
    ),
    density: (
      scale: -2
    ),
  )
);

@mixin light-theme {
  @include mat.list-theme($light-theme);
  @include mat.card-theme($light-theme);
  @include mat.icon-theme($light-theme);
  @include mat.button-theme($light-theme);
  @include mat.toolbar-theme($light-theme);
  @include mat.sidenav-theme($light-theme);
  @include mat.icon-button-theme($light-theme);
  @include cmz-theme.high-contrast-overrides(light);

  // Apply Material typography hierarchy
  @include mat.typography-hierarchy($light-theme);

  // Apply app font globally so non-Material elements inherit the same font
  :root,
  html,
  body,
  app-root {
    font-family: $app-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
