:host ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 15px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  padding: 0 12px;
}

:host ::ng-deep .mat-mdc-form-field-infix {
  padding: 16px 0;
}

:host ::ng-deep textarea.mat-mdc-input-element {
  padding: 8px 0;
}

h2 {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  margin: 0;
}

mat-dialog-content {
  padding: 0 1.5rem 1rem 1.5rem;
  overflow: visible;
}

mat-dialog-actions {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  margin: 0;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  min-width: 450px;
}

.full-width {
  width: 100%;
}
