@use '@angular/material' as mat;
@use './../../styles/light-theme.scss' as lt;

:host {
  display: block;
  height: 100vh;
  height: 100dvh;
  height: 100svh;

  @include mat.toolbar-overrides((
    container-background-color: #{mat.get-theme-color(lt.$light-theme, surface-container)},

  ));

  // Additional theming for Material components used in this page for the hover effects and colors to match the light theme
  // @include mat.icon-button-theme(lt.$light-theme);

   @include mat.sidenav-overrides((
    container-shape: 0px,
    container-background-color: #{mat.get-theme-color(lt.$light-theme, primary)},
    container-text-color: #{mat.get-theme-color(lt.$light-theme, on-primary)},
  ));

  @include mat.list-overrides((
    list-item-container-shape: 0px,
    list-item-hover-state-layer-opacity: .08,
    list-item-focus-state-layer-opacity: .08,
    list-item-label-text-color: #{mat.get-theme-color(lt.$light-theme, on-primary)},
    list-item-leading-icon-color: #{mat.get-theme-color(lt.$light-theme, on-primary)},
    list-item-hover-label-text-color: #{mat.get-theme-color(lt.$light-theme, on-primary)},
    list-item-focus-label-text-color: #{mat.get-theme-color(lt.$light-theme, on-primary)},
    list-item-hover-state-layer-color: #{mat.get-theme-color(lt.$light-theme, on-primary)},
    list-item-focus-state-layer-color: #{mat.get-theme-color(lt.$light-theme, on-primary)}
  ));


}

.app-header {
  .spacer {
    flex: 1 1 auto;
  }

  h1 {
    margin: 0;
    color: #{mat.get-theme-color(lt.$light-theme, primary)};
  }
}

.app-layout-container {
  display: flex;
  height: 100%;
}

.app-sidebar {
  padding: 0;
  width: 240px !important;

  .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem   ;
    height: var(--mat-toolbar-standard-height, 64px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .logo-icon {
      font-size: 28px;
      width: 28px;
      height: 28px;
    }

    .logo-text {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #{mat.get-theme-color(lt.$light-theme, on-primary)};
    }
  }

  ul li {
    margin-bottom: .2rem;
  }
}

