
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/styles/light-theme.scss' as lt;

html {
 @include lt.light-theme();
}

html, body {
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
}

body { 
  margin: 0; 
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.icon-btn-primary {
  @include mat.icon-button-color(lt.$light-theme, primary);
}